.student.data {
        background-color: #333;
         color: white;
         padding: 20px;
         border-radius: 5px;
         border: orange 2px solid;
         justify-content: space-between
    } 
    body {
        background-image: radial-gradient(circle, #ffcc00, #ff6600);
        font-family: Arial, sans-serif;
    } 
    .csshtml {
        background-color: #333;
         color: white;
         padding: 30px;
         border-radius: 15px;
         border: orange 2px solid;
         justify-content: space-between;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 20px;
    } 
    #lists {
        background-color: #333;
         color: white;
         padding: 20px;
         border-radius: 5px;
         border: orange 2px solid;
         justify-content: space-between;
         display: flex;
         flex-direction: row;
         align-items: first baseline
     } 
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 20px;
            width: 100%;
            margin: auto;
            border: orchid 2px solid;
            padding: 20px;
        } 
        .box {
            background-color: #333;
             color: white;
             padding: 10px;
             border-radius: 5px;
             border: blue 2px solid;
             justify-content: space-between
        } 